/*layout----------------------------------------------------------------------------------------------------*/
#chart_area {
	padding: 0 0.5%;
}

#chart_area {
	margin: 0 2%;
}

.area-hidden {
	display: none;
}

.survey-admin-filter {
	width: 100%;
	padding: 0;
}

.survey-admin-filter-baseline {
	width: 100%;
	left: 0;
}





/*pagination----------------------------------------------------------------------------------------------------*/
.survey-result-pagination-container {
	float: none;
   	margin-bottom: 2%;
   	position: relative;
}
   
.survey-result-count {
   	display: inline-block;
   	line-height: 29px;
}
   
.survey-result-pagination {
   	position: absolute;
   	right: 0;
   	top: 0;
}
 
 
 
 
 
 
/*list item----------------------------------------------------------------------------------------------------*/  
.survey-result-list-item {
	margin: 0px 0% 1% 2%;
    text-align: center;
    width: 15%;
    border-top: 4px solid #426282;
    padding: 15px 0;
    float: left;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.35);
    border-radius: 3px;
}

.survey-result-score-row {
	padding: 10px 0;
   	border-bottom: 1px solid #cacaca;
}

.survey-result-score {
	font-weight: 700;
   	font-size: 25px;
}

.survey-result-completion-time-row {
	margin: 10px 0;
}

.survey-result-completion-time {
	font-weight: 700;
   	font-size: 15px;
}

.survey-result-tool-row {
	margin-top: 5px;
}

.survey-result-tool-btn {
	color: #426282;
   	font-weight: 1000;
   	cursor: pointer;
}

.survey-result-defined-text {
	font-size: 14px;
	margin: 5px 0;
}

.survey-result-pagination span {
	margin-right: 5px;
}

/*min 1200px--------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
	
	#list_area .survey-result-list-item:nth-of-type(6n+2) {
		margin-left: 0;
	}
}

/*767px - 1200px--------------------------------------------------------------------------------*/
@media (min-width: 767px) and (max-width: 1200px) {
	
	.survey-result-list-item {
		margin: 0 0 3% 2%;
	    width: 32%;
	}
	
	#list_area .survey-result-list-item:nth-of-type(3n+2) {
		margin-left: 0;
	}
}

/*screen max 767px--------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
	
	.survey-result-list-item {
		margin: 0px 0% 4% 0;
	    width: 100%;
	}
}





/*chart----------------------------------------------------------------------------------------------------*/ 
.survey-write-container {
	width: 90% !important;
	box-shadow: rgba(0, 0, 0, 0.54) 0px 2px 9px 0px !important;
}

.survey-result-chart-container p {
	font-size: 17.5px;
    font-weight: bold;
    display: list-item;
    margin-left: 20px;
}

.survey-chart-tips {
    position: absolute;
    display: none;
	padding: 5px 10px;
    border: 3px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}