/*Authenticate success--------------------------------------------------------*/
.survey-auth-success-container {
  width: 100%;
  margin-top: 50px; }

.survey-auth-success-container p {
  margin-top: 20px;
  font-weight: bold !important;
  font-size: 20px;
  line-height: 25px; }

.survey-auth-success-bg {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 65px; }

.survey-auth-success-mark {
  position: absolute;
  left: 23px;
  top: 32px;
  width: 50px;
  height: 20px;
  border: 8px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  box-shadow: -6px 7px 4px 0px rgba(0, 0, 0, 0.24);
  animation: auth-success .3s 1 ease forwards; }

@keyframes auth-success {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }

  50% {
    opacity: 1;
    width: 0;
    height: 20px; }

  100% {
    width: 50px; } }

@media (min-width: 301px) {
  .survey-auth-success-container {
    margin-top: 20rem; }

  .survey-auth-success-bg {
    height: 20rem;
    width: 20rem; }

  .survey-auth-success-mark {
    left: 4.5rem;
    top: 6rem;
    width: 10rem;
    height: 4rem;
    border-width: 1.5rem; }

  @keyframes auth-success {
    0% {
      opacity: 0;
      width: 0;
      height: 0; }

    50% {
      opacity: 1;
      width: 0;
      height: 4em; }

    100% {
      width: 10em; } }

  .survey-auth-success-container p {
    margin-top: 4rem;
    font-size: 3rem;
    line-height: 3.5rem; } }
/*Authenticate input--------------------------------------------------------*/
.survey-auth-row {
  margin: 2em 0.5em 4em 0.5em;
  position: relative; }

.survey-auth-input-row {
  position: relative;
  display: inline-block;
  width: calc(100% - 25px); }

.survey-auth-row i {
  font-size: 17px;
  color: #c6c6c6;
  margin-right: 5px; }

.survey-auth-input {
  border: none !important;
  font-size: 20px !important;
  vertical-align: unset !important;
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 0 !important; }

.survey-auth-input-label {
  pointer-events: none;
  position: absolute;
  left: 1px;
  bottom: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #c6c6c6;
  transition: top .2s, font .2s; }

.survey-auth-input-baseline {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #c6c6c6;
  bottom: -2px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.survey-auth-input:FOCUS {
  outline: none !important;
  box-shadow: none !important; }

#_LCSurvey_WAR_LCSurveyportlet_password {
  -moz-text-security: disc;
  -webkit-text-security: disc;
  text-security: disc; }

.survey-auth-input:FOCUS + .survey-auth-input-label, .survey-auth-input:VALID + .survey-auth-input-label {
  top: -20px;
  font-size: 13px;
  font-weight: bold; }

.survey-auth-input-required {
  position: absolute;
  display: none; }

.survey-auth-input-required-show {
  display: block; }

.survey-auth-input-required font {
  color: red;
  font-weight: bold;
  font-size: 13px; }

@media (min-width: 301px) {
  .survey-auth-row {
    margin: 10rem 5rem; }

  .survey-auth-input-row {
    width: calc(100% - 2.5em - 10px); }

  .survey-auth-row i {
    font-size: 2.5em;
    margin-right: 10px; }

  .survey-auth-input {
    font-size: 3em !important; }

  .survey-auth-input:FOCUS {
    font-size: 3em !important; }

  .survey-auth-input-label {
    font-size: 3em;
    bottom: 15px; }

  .survey-auth-input:FOCUS + .survey-auth-input-label, .survey-auth-input:VALID + .survey-auth-input-label {
    font-size: 1.8em; }

  .survey-auth-input-required {
    bottom: -3em; }

  .survey-auth-input-required font {
    font-size: 2.5em; } }
/*Authenticate button--------------------------------------------------------*/
@media (max-width: 300px) {
  #survey_authenticate_btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-width: 3px; }

  #survey_authenticate_btn i {
    font-size: 40px;
    margin-top: 10px !important; } }

