#survey_reponse_container {
  position: relative; }

#_LCSurvey_WAR_LCSurveyportlet_survey_response_textarea {
  width: 100% !important; }

.survey-write-textarea-baseline {
  width: 100%; }

@media (max-width: 700px) {
  #_LCSurvey_WAR_LCSurveyportlet_survey_response_textarea {
    overflow-y: hidden !important;
    font-size: 20px !important; }

  #survey_update_btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-width: 3px; }

  #survey_update_btn i {
    font-size: 40px;
    margin-top: 10px !important; } }
@media (min-width: 701px) {
  #_LCSurvey_WAR_LCSurveyportlet_survey_response_textarea {
    font-size: 2rem !important; }

  #_LCSurvey_WAR_LCSurveyportlet_survey_response_textarea:FOCUS {
    font-size: 2rem !important; }

  .survey-action-result {
    padding: 1.3rem;
    font-size: 1.4rem; } }

