/*survey admin layout----------------------------------------------------------------------------------------------------*/
.survey-admin-layout {
  padding: 0 1%;
  width: 98%; }

/*survey filter----------------------------------------------------------------------------------------------------*/
.survey-admin-filter {
  position: relative;
  display: table;
  width: 99%;
  margin-bottom: 10px;
  padding: 0 0.5%; }

.survey-admin-view-mode {
  float: left;
  margin-bottom: 10px; }

.survey-admin-pagination {
  float: right;
  margin-bottom: 10px; }

.survey-filter-btn {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 7px 10px;
  cursor: pointer;
  font-weight: 700; }

.survey-filter-btn i {
  margin-right: 5px; }

.survey-filter-btn:HOVER {
  background-color: #ddd; }

.survey-pagination-btn {
  font-size: 15px; }

.survey-pagination-btn i {
  margin-right: 0px; }

.survey-admin-view-mode .active {
  background-color: #426282;
  color: #ffffff; }

.survey-admin-filter-baseline {
  position: absolute;
  display: block;
  width: 99%;
  height: 1.5px;
  background-color: #d8d8d8;
  left: 0.5%;
  bottom: 0; }

.survey-admin-pagination-font {
  margin: 0 10px; }

/*screen 767px - 1200px--------------------------------------------------------------------------------*/
@media (min-width: 767px) and (max-width: 1200px) {
  .survey-admin-filter {
    width: 96%;
    margin-bottom: 1.5%;
    padding: 0 2%; }

  .survey-admin-view-mode {
    margin-bottom: 1.5%; }

  .survey-admin-pagination {
    margin-bottom: 1.5%; }

  .survey-admin-filter-baseline {
    width: 96%;
    left: 2%; } }
@media (max-width: 767px) {
  .survey-admin-filter {
    width: 94%;
    margin-bottom: 3%;
    padding: 0 3%; }

  .survey-admin-view-mode {
    margin-bottom: 3%; }

  .survey-admin-pagination {
    margin-bottom: 3%; }

  .survey-admin-filter-baseline {
    width: 94%;
    left: 3%; } }
/*survey filter tool*/
.survey-filter-tool {
  position: absolute;
  opacity: 0;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  min-width: 160px;
  max-height: 400px;
  z-index: 1000;
  background-color: #ffffff;
  overflow-y: auto; }

.survey-filter-row {
  border-bottom: 1px solid #ddd;
  padding: 20px 35px 20px 35px; }

.survey-filter-row p {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center; }

.survey-filter-tool .survey-filter-button-row {
  text-align: center; }

.survey-filter-tool input[name="s_title"] {
  line-height: 25px;
  font-size: 13px; }

/*survey tool----------------------------------------------------------------------------------------------------*/
.survey-tool {
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  min-width: 160px;
  z-index: 1000;
  position: absolute;
  opacity: 0;
  white-space: nowrap; }

.survey-tool div {
  padding: 15px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000; }

.survey-tool i {
  margin-right: 5px; }

.survey-tool div:HOVER {
  background-color: #426282;
  color: #ffffff; }

#survey_page_direct_btn {
  white-space: nowrap;
  text-align: center; }

/*survey tips----------------------------------------------------------------------------------------------------*/
.survey-tips {
  position: absolute;
  display: none;
  text-align: center;
  padding: 5px;
  background-color: #616161;
  color: white;
  font-weight: 700;
  font-size: 12px; }

/*survey alert----------------------------------------------------------------------------------------------------*/
.survey-action-result-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 20000;
  display: none; }

.survey-action-result {
  border: 1px solid #ffffff;
  padding: 15px 35px 15px 14px;
  text-align: center;
  font-weight: bold;
  font-size: 17px; }

.action-success {
  background-color: #f1fbd1;
  color: #488f06;
  border-color: #bce830; }

.action-danger {
  background-color: #fee5e2;
  color: #b50303;
  border-color: #fcaca5; }

.action-info {
  background-color: #cef1fc;
  border-color: #9ee3f9;
  color: #12718f; }

.survey-action-result i {
  margin-right: 3px; }

/*survey input----------------------------------------------------------------------------------------------------*/
.survey-input {
  border-color: #d7d7d7;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 18px !important;
  vertical-align: unset !important; }

.survey-input:FOCUS {
  outline: none !important;
  border-bottom: 2px solid #838a8c; }

.survey-large-input {
  width: 80% !important; }

.survey-medium-input {
  width: 50% !important; }

.survey-hidden-input {
  display: none; }

/*survey step button----------------------------------------------------------------------------------------------------*/
.survey-step-btn-container {
  text-align: center; }

.survey-step-btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  margin: 30px 20px;
  cursor: pointer;
  color: #c5c5c5;
  border: 3px solid #c5c5c5; }

.survey-step-btn:HOVER {
  color: #426282;
  border-color: #426282; }

.survey-step-btn i {
  display: inline-block !important;
  font-size: 40px;
  margin-top: 10px !important; }

/*screen 768px - 1200px--------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1200px) {
  .survey-step-btn {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    border-width: 0.3rem;
    margin: 2.5rem 3rem; }

  .survey-step-btn i {
    font-size: 4rem;
    margin-top: 1rem !important; } }
/*screen max 767px--------------------------------------------------------------------------------*/
@media (max-width: 767px) {
  .survey-step-btn {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-width: 0.35rem; }

  .survey-step-btn i {
    font-size: 3.5rem;
    margin-top: 0.75rem !important; } }
/*survey color picker----------------------------------------------------------------------------------------------------*/
#survey_color_picker {
  position: absolute;
  opacity: 0;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  min-width: 170px;
  z-index: 1000;
  background: #ffffff;
  cursor: default; }

.survey-color-row {
  margin: 15px; }

.survey-color {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer; }

.survey-color-active {
  position: absolute;
  left: 8px;
  top: 2.5px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

/*survey drop down*/
.survey-dropdown {
  user-select: none; }

.survey-dropdown-title-row {
  max-width: 200px;
  font-size: 13px;
  font-weight: normal;
  border: 1.5px solid #ddd;
  padding: 8px 20px 8px 15px;
  position: relative;
  border-radius: 3px 3px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer; }

.survey-dropdown-title-row i {
  position: absolute;
  top: 13px;
  right: 10px; }

.survey-dropdown-option-container {
  display: none; }

.survey-dropdown .open {
  display: block; }

.survey-dropdown-option-container label {
  max-width: 200px;
  font-size: 13px !important;
  padding: 8px 20px 8px 15px;
  border: 1.5px solid #ddd;
  border-top: none;
  border-bottom: none;
  margin-bottom: 0 !important;
  text-align: left;
  word-wrap: break-word; }

.survey-dropdown-option-container label:HOVER {
  background-color: #426282;
  color: #ffffff;
  border-color: #426282; }

.survey-dropdown-option-container label:LAST-CHILD {
  border-radius: 0 0 3px 3px;
  border-bottom: 1.5px solid #ddd; }

